<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medika - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='services.css') }}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap">
</head>
<body>
    <header>
        <section class="navbar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='medika-logo.png') }}" alt="MEDIKA" class="logo-image">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="#" style="color: #00bf63;">Services</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="login-container">
                <input type="text" placeholder="User ID" id="username" class="login-input">
                <input type="password" placeholder="Password" id="password" class="login-input">
                <button class="login-button" onclick="loginUser()">Log In</button>
            </div>
            <p id="error-message" class="error-message" >Invalid username or password.</p>
        </nav>
    </header>  

    <script>
        function loginUser() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            // Send a POST request to the backend with username and password
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '/dashboard';  // Redirect to dashboard on success
                } else {
                    document.getElementById("error-message").style.display = "block";  // Show error message
                }
            })
            .catch(error => {
                console.error('Error:', error);
                window.location.href = '/login';
            });
        }
    </script>





</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->
<section id="services-296">
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">
            <span style="color:#ff3131;">Medika</span>
            <span style="color:#0453b9;">Services</span>
          </h2>
          <p class="cs-text">
            Medika offers a comprehensive range of services designed to simplify and improve the way patient health records are managed. 
            These services focus on ensuring convenience, reliability, and accuracy in handling sensitive medical data. With its user-friendly 
            features and secure infrastructure, Medika is an essential tool for institutions and individuals looking to manage health information effectively.
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <a class="cs-link" href="">
                  <img class="cs-icon" src="{{ url_for('static', filename='assets/data-export icon.png') }}" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                  <h3 class="cs-h3">Data Export</h3>
                  <p class="cs-item-text">
                    Easily export patient data for backups and external use.
                  </p>
              </a>
              <picture class="cs-image"  aria-hidden="true">
                  <source media="(max-width: 600px)" srcset="https://min-guide.eu/wp-content/uploads/2024/04/spfxujsfgd-1024x585.jpg">
                  <source media="(min-width: 601px)" srcset="https://min-guide.eu/wp-content/uploads/2024/04/spfxujsfgd-1024x585.jpg">
                  <img loading="lazy" decoding="async" src="hhttps://min-guide.eu/wp-content/uploads/2024/04/spfxujsfgd-1024x585.jpg" alt="library" width="413" height="266">
              </picture>
          </li>
          <li class="cs-item">
              <a href="" class="cs-link">
                  <img class="cs-icon" src="{{ url_for('static', filename='assets/manage icon.png') }}" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                  <h3 class="cs-h3">Patient Record Management</h3>
                  <p class="cs-item-text">
                    Simplifies organizing and maintaining accurate health records.
                  </p>
              </a>
              <picture class="cs-image"  aria-hidden="true">
                  <source media="(max-width: 600px)" srcset="https://2cqr.in/wp-content/uploads/2023/10/rfidhospital.webp">
                  <source media="(min-width: 601px)" srcset="https://2cqr.in/wp-content/uploads/2023/10/rfidhospital.webp">
                  <img loading="lazy" decoding="async" src="https://2cqr.in/wp-content/uploads/2023/10/rfidhospital.webp" alt="system" width="413" height="266">
              </picture>
          </li>
          <li class="cs-item">
              <a class="cs-link" href="">
                  <img class="cs-icon" src="{{ url_for('static', filename='assets/security icon.png') }}" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                  <h3 class="cs-h3">Data Security</h3>
                  <p class="cs-item-text">
                    Ensures that all patient information is protected and confidential.
                  </p>
              </a>
              <picture class="cs-image">
                  <source media="(max-width: 600px)" srcset="https://securityintelligence.com/wp-content/uploads/2023/06/Shield-Icon-of-Cyber-Security-Digital-Data-Technology-Global-Network-Digital-Data-Protection-Future-Abstract-Background-Concept.-3D-Rendering.jpeg">
                  <source media="(min-width: 601px)" srcset="https://securityintelligence.com/wp-content/uploads/2023/06/Shield-Icon-of-Cyber-Security-Digital-Data-Technology-Global-Network-Digital-Data-Protection-Future-Abstract-Background-Concept.-3D-Rendering.jpeg">
                  <img loading="lazy" decoding="async" src="https://securityintelligence.com/wp-content/uploads/2023/06/Shield-Icon-of-Cyber-Security-Digital-Data-Technology-Global-Network-Digital-Data-Protection-Future-Abstract-Background-Concept.-3D-Rendering.jpeg" alt="security" width="413" height="266" aria-hidden="true">
              </picture>
          </li>
      </ul>
  </div>
</section>


<script src="script.js"></script>
</body>
</html>